body {
  background-image: url('media/background.jpg');
  background-attachment: fixed;
}


.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
}

.header {
    height: 250px;
    text-align: center;
}

.header .container {
    background-image: url("media/mackerel.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: relative;
    top: 50px;
}

.header h1 {
    /*color: #3a6b67;*/
    line-height: 100px;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.header p {
    /*color: #3a6b67;*/
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.nav {
    background-image: url("media/leech-for-siren.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    height: 80px;
    width: 100%;
    text-align: center;
}

.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li{
    /*color: #3a6b67;*/
    display: inline-block;
    height: 100px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background 0.5s;
}

.btn:hover, .nav ul li:hover, .shop ul li {
    background: #fff;
    cursor: pointer;
    transition: background .5s;
}

.shop {
    background: transparent; /* TODO: find a suitable fish x */
    width: 80%;
}

.shop ul {
    background: transparent;
    list-style: none;
}

.shop .container {
    height: 900px
}

.shop h1 {
    text-transform: uppercase;
}

.shop p {
    margin-top: 10px;
    line-height: 10px;
}

.shop img {
    float: left;
    height: 100%;
    width: 150px;
}

